<!DOCTYPE html>
<html>

<script src="login_page.js"></script>
<link rel="stylesheet" type="text/css" href="../app.css"/>

<body>
<!-- 	<div class="circle">
	</div> -->
	<div class="content-right">
		<div class="login_wrapper">
	    	<input type="button" value="Login" class="login" onclick="redirectToLogin()" />
	    	<input type="button" value="Sign up" class="login" onclick="redirectToSignUp()"/>
		</div>
	</div>
	<div class="content-left">
		<div class="login_info">
			<h1>CollegePool</h1>
			<div class="slogans">
				<h3>Find Rides Fast<br>
				Connect with other students</h3>
			</div>
		</div>
	</div>
	
</body>
</html>