/* Add mobile styles for the component here.  */
.map-view {
	height: 60%;
	width: 80%;
	vertical-align: bottom;
	margin-bottom: 5;
}

.profile-picture {
	height: 50;
	width: 50;
	border-radius: 25;
	vertical-align: top;
	margin-left: 16;
	margin-top: 20;
}

.info-label {	
	color: black;
	font-weight: 400;
	font-size: 14;
	margin-right: 10;
}
.cap-label {
	margin-bottom: 16;
	color: black;
	font-weight: 400;
	font-size: 14;
	margin-right: 18;
}

.name-label {
	margin-top: 16;
	margin-left: 18;
	color: black;
	font-weight: 700;
	font-size: 17;
}

.price-label {
	margin-top: 16;
	margin-right: 18;
	color: green;
	font-weight: 500;
	font-size: 16;
	margin-bottom: 5;
}

.status-icon {
	height: 15;
	width: 15;
	/* border-radius: 25; */
	vertical-align: top;
	margin-top: 21;
	margin-left: 7;
}

.text-icon {
	height: 15;
	width: 15;
	margin-top: 2;
	margin-left: 18;
	margin-right:4;
	/* border-radius: 25; */
	vertical-align: top;
}
.second-text-icon {
	height: 15;
	width: 15;
	margin-left: 18;
	margin-right: 4;
	margin-top: 2;
	/* border-radius: 25; */
	vertical-align: top;
	margin-bottom: 16;
}

.connect-btn{
    background-color:#ac00e6;
    width: 200;
    height: 140px;
/*    font-family: "Segoe UI",Arial,sans-serif;
*/    color: white;
	margin: 0 5 20 5;
	border-radius: 5;
	font-size: 18;
	font-weight: 500;

}

.activity-indicator {
	color: #ac00e6;
}
