/* Add mobile styles for the component here.  */
Button {
    padding: 5;
    margin: 5;
    background-color: dodgerblue;
    color: white;
    height: 40;
    border-radius: 5;
}

.chat-button {
	padding-left: 5;
	padding-right: 5;
	margin: 5;
	height: 35;
	width: 20;
}

.img-button {
	margin: 5;
	margin-left: 3;
	margin-right: 7;
	height: 35;
	width: 20;
}

.chat-text-field {
    padding: 5; 
    /*background-color: white; */
    /*border-radius: 4;*/
    /*bottom-border-color: #696969;*/
}

.author-img {
    margin: 0 5 5 5;
    margin-bottom: 0;
    width: 40;
    height: 40;
    border-radius: 20;
    background-color: lightgray;
}

.img {
	margin: 5;
	border-radius: 10;
	background-color: lightgray;
}

.theirsImg {
	margin: 5;
	margin-left: 52;
	border-radius: 10;
	background-color: lightgray;
}

.mine {
    background-color: #ac00e6;
    color: white;
    padding: 8;
    padding-left: 14;
    padding-right: 14;
    margin-right: 10;
    border-radius: 20;
    border-bottom-right-radius: 5;
    border-bottom-left-radius: 20;
    font-size: 16;
    max-width: 60%;
    text-align: left;
    /*margin-bottom: 12;*/
}

.mineContinuation {
    padding: 8;
    padding-left: 14;
    padding-right: 14;
	margin-bottom: 0;
	border-bottom-right-radius: 20;
	border-radius: 20;
	font-size: 16;
    max-width: 60%;
}

.mineContinuationGrid {
	font-size: 14;
    padding: 5;
	padding-top: 0;
	padding-bottom: 1;
}

.mineTime {
	margin-right: 10;
	margin-bottom: 5;
}

.theirsTime {
	margin-left: 52;
	margin-bottom: 5;
}

.time {
	visibility: collapse;
	display: none;
}

.theirs {
    background-color: #e0e0e0;
    color: #333;
    padding: 8;
    padding-left: 14;
    padding-right: 14;
    border-radius: 20;
    border-bottom-left-radius: 5;
    border-bottom-right-radius: 20;
    margin-right: 40;
    font-size: 16;
    max-width: 60%;
    text-align: left;
    /*margin-bottom: 12;*/
}

.theirsContinuation {
    padding: 8;
    padding-left: 14;
    padding-right: 14;
	margin-left: 52;
	margin-bottom: 0;
	border-radius: 20;
	font-size: 16;
    max-width: 60%;
	border-bottom-left-radius: 20;
}

.theirsContinuationGrid {
	font-size: 14;
    padding: 5;
	padding-top: 0;
	padding-bottom: 1;
}

.grid {
    font-size: 14;
    padding: 5;
    padding-top: 0;
    padding-bottom: 8;
}

.chat-box-layout {
	border-color: #f1f1f1;
	border-top-width: 1;
	height: 60;
}

.activity-indicator {
  color: #ac00e6;
}