/* Add mobile styles for the component here.  */
Button {
    padding: 5;
    margin: 5;
    background-color: dodgerblue;
    color: white;
    height: 40;
    border-radius: 5;
}

.chat-text-field {
    padding: 5; 
    /*background-color: white; */
    /*border-radius: 4;*/
    /*bottom-border-color: #696969;*/
}

.author-img {
    margin: 0 5 5 5;
    width: 40;
    height: 40;
    border-radius: 20;
}

.mine {
    background-color: #30A9FF;
    color: white;
    padding: 8;
    padding-left: 12;
    padding-right: 12;
    margin-right: 10;
    border-radius: 15;
    border-bottom-right-radius: 5;
    font-size: 16;
}

.theirs {
    background-color: #e0e0e0;
    color: #333;
    padding: 7;
    padding-left: 12;
    padding-right: 12;
    border-radius: 15;
    border-bottom-left-radius: 5;
    margin-right: 40;
    font-size: 16;
}

.message-grid {
    font-size: 14;
    padding: 5;
}

.chat-box-layout {
	border-color: #f1f1f1;
	border-top-width: 1;
}