.user-card-right {
	float:right;
	margin-right: 2%;
}

#history{
    display: block;
    text-align: center;
    font-size: 30px;
    height: 100%;
    margin: auto;
}

#bigfeed {
	width: auto;
    display: block;
    overflow: auto;
    text-align: center;
    padding-left: 30%;
}