/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/

.actionbar {
	font-size: 22;
	font-weight: 700;
	text-align: left;
	color: black;
}

Label {
	text-align: left;
}

.name-label {
	margin-top: 16;
	margin-left: 18;
	color: black;
	font-weight: 700;
	font-size: 17;
}

.info-label {
	margin-top: 4;
	margin-left: 18;
	margin-bottom: 16;
	color: black;
}

.post {
	border-bottom-width: 1;
	border-color: #f1f1f1;
	margin-top: 150;
	margin-bottom: 15;
}

.post:highlighted {
	/*background-color: #f1f1f1;*/
}

.posting-map {
	margin-bottom: 16;
	border-radius: 10;
	height: 220;
	width: 340;
}

.profile-picture {
	height: 50;
	width: 50;
	border-radius: 100%;
	vertical-align: top;
	margin-left: 16;
	margin-top: 20;
}