.user-card-right {
    /*margin: auto;*/
}

#history{
    display: inline-block;
    text-align: center;
    position:absolute;
    /*left: 50px;*/
    font-size: 30px;
    /*width: 800px;*/
    margin: auto;
    min-width: 650px;
}

#bigfeed {
	width: auto;
    display: block;
    overflow: auto;
    text-align: center;
}