/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/

.actionbar {
	font-size: 22;
	font-weight: 700;
	text-align: left;
	color: black;
}

Label {
	text-align: left;
}

.name-label {
	margin-top: 16;
	margin-left: 18;
	color: black;
	font-weight: 700;
	font-size: 17;
}

.info-label {	
	color: black;
	font-weight: 400;
	font-size: 14;
	margin-right: 10;
}
.price-label {
	margin-top: 16;
	margin-right: 18;
	color: green;
	font-weight: 500;
	font-size: 16;
	margin-bottom: 5;
}
.cap-label {
	/* margin-bottom: 16; */
	color: black;
	font-weight: 400;
	font-size: 14;
	margin-right: 18;
}
.post {
	border-bottom-width: 1;
	border-color: #f1f1f1;
	margin-top: 150;
	margin-bottom: 15;
}

.post:highlighted {
	/*background-color: #f1f1f1;*/
}

.posting-map {
	margin-top:16;
	margin-bottom: 16;
	border-radius: 10;
	height: 220;
	width: 340;
	/* height: 220;
	width: 340; */
}

.profile-picture {
	height: 50;
	width: 50;
	border-radius: 25;
	vertical-align: top;
	margin-left: 16;
	margin-top: 20;
}

.refresh {
	color: #ac00e6;
}
.status-icon {
	height: 15;
	width: 15;
	/* border-radius: 25; */
	vertical-align: top;
	margin-top: 21;
	margin-left: 7;
}
.text-icon {
	height: 15;
	width: 15;
	margin-top: 2;
	margin-left: 18;
	margin-right:4;
	/* border-radius: 25; */
	vertical-align: top;
}
.second-text-icon {
	height: 15;
	width: 15;
	margin-left: 18;
	margin-right: 4;
	margin-top: 2;
	/* border-radius: 25; */
	vertical-align: top;
	/* margin-bottom: 16; */
}

.comments {
	margin-left: 18;
	margin-top: 10;
	/* margin-bottom: 16; */
	margin-right: 10;
}
#text-label-2 {
	margin-top: 4;
}