/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/

.login {
    display: block;
    color: #ac00e6;
    /*padding: 6px 24px;*/
    border-width: 1;
    border-color: #ac00e6;
    border-radius: 5;
    text-align: center;
    float: center;
    margin: auto; 
    font-weight: 700;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-bottom: 15;
    width: 120;
    height: 40;
}

.login:highlighted {
    background-color: #f9e6ff;
}

.login-info {
	margin-top: 120;
}

.homescreen-logo {
	margin-bottom: 200;
}

.h1 {
	font-size: 50;
	font-weight: 700;
	color: #ac00e6;
}

.login-wrapper {
	background-color: #f1f1f1;
}