<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="../app.css"/>

<body>
	<div class="info">
		<img src="../../img/sample_profile.jpg" alt="Profile Photo" id="profile_pic">
		<h3 id="username">Adam Yee</h3>
		<h3 id="user_university">University of Virginia</h3>
		<div class="userStats">
			<span id="user_rides_given" class="userData">Rides Given: </span>
			<span id="num_rides_given"></span>
			<span id="user_rides_received" class="userData">Rides Received: </span>
			<span id="num_rides_received"></span>
		</div>
	</div>
	<!-- Tab links -->
	<div class="tab">
	  <button class="tablinks" onclick="changeTab(event, 'Feed')" id="defaultTab">Feed</button>
	  <button class="tablinks" onclick="changeTab(event, 'Post')">Post</button>
	  <button class="tablinks" onclick="changeTab(event, 'History')">History</button>
	  <button class="tablinks" onclick="changeTab(event, 'Settings')">Settings</button>
	</div>

	<!-- Tab content -->
	<div id="Feed" class="tabcontent">
	  <h3>News Feed</h3>
	</div>

	<div id="Post" class="tabcontent">
	  <h3>Post</h3>
	</div>

	<div id="History" class="tabcontent">
	  <h3>History</h3>
	</div>

	<div id="Settings" class="tabcontent">
	  <h3>Settings</h3>
	</div>

</body>

<script src="home_page.js"></script>

</html>
