<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="../app.css"/>

<body>
		<!-- The Modal -->
	<div id="myModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close">&times;</span>
	    <div class="modaltab">
		  <button class="modaltablinks" onclick="changeModalTab(event, 'Offer')" id="defaultModalTab">Offer Ride</button>
		  <button class="modaltablinks" onclick="changeModalTab(event, 'Request')">Request Ride</button>
		</div>
		<div id="Offer" class="modaltabcontent">
		    <form class="form">
				Departure date:<br>
				<input type="datetime-local" name="departure"><br><br>
				Pick up address:<br>
				<input type="text" class="address_text" name="pickup"><br><br>
				Destination address:<br>
				<input type="text" class="address_text" name="destination"><br><br>
				Capacity:
				<input type="text" name="capacity">
				Price:
				<input type="text" name="price"><br><br>
				Additional Comments:<br><br>
				<textarea></textarea>
			</form>
			<button class="submitbutton" onclick="submitOffer()">Post</button>
		</div>
		<div id="Request" class="modaltabcontent">
		    <form class="form">
		    	Departure date:<br>
				<input type="datetime-local" name="departure"><br><br>
				Pick up address:<br>
				<input type="text" class="address_text" name="pickup"><br><br>
				Destination address:<br>
				<input type="text" class="address_text" name="destination"><br><br>
				Additional Comments:<br><br>
				<textarea></textarea>
			</form>
			<button class="submitbutton" onclick="submitRequest()">Post</button>
		</div>
	  </div>

	</div>
	<div class="info">
		<img src="../../img/sample_profile.jpg" alt="Profile Photo" id="profile_pic">
		<h3 id="username">Adam Yee</h3>
		<h3 id="user_university">University of Virginia</h3>
		<div class="userStats">
			<span id="user_rides_given" class="userData">Rides Given: </span>
			<span id="num_rides_given"></span>
			<span id="user_rides_received" class="userData">Rides Received: </span>
			<span id="num_rides_received"></span>
		</div>
	</div>
	<!-- Tab links -->
	<div class="tab">
	  <button class="tablinks" onclick="changeTab(event, 'Feed')" id="defaultTab">Feed</button>
	  <button class="tablinks" id="Post">Post</button>
	  <button class="tablinks" onclick="changeTab(event, 'History')">History</button>
	  <button class="tablinks" onclick="changeTab(event, 'Settings')">Settings</button>
	</div>

	<!-- Tab content -->
	<div id="Feed" class="tabcontent">
	  <h3>News Feed</h3>
	</div>

	<div id="Post" class="tabcontent">
	  <h3>Post</h3>
	</div>

	<div id="History" class="tabcontent">
	  <h3>History</h3>
	</div>

	<div id="Settings" class="tabcontent">
	  <h3>Settings</h3>
	</div>

</body>

<script src="home_page.js"></script>

</html>
