<app-navigation></app-navigation>
<div id="body">
<div layout-align="center center" id="form">
	<div class="payment-methods">
		<h3>Payment methods</h3>
	</div>
	<div class="loader" id="list-loading-circle"></div>
	<div class="payments-bottom-add-container">
		<button class="payment-footer-button" (click)="toAddPayment()">
			<span class="plus-sign">+</span> 
			<span class="payment-footer-text">Add a payment method </span>
		</button>
	</div>
</div>

<div layout-align="center center" id="payment-form">
	<div class="payment-methods">
		<h3>Add payment method</h3>
	</div>
	<div class="payments-bottom-add-container">
		<button class="payment-footer-button" (click)="toPaymentMethods()">
			<span class="payment-footer-text">Cancel </span>
		</button>
	</div>
</div>

</div>

<div id="payment-modal" class = "modal">
	<div layout-align="center center" id="card-form">
		<div class="payment-methods" id="modal-payment-methods">
			<h3 class="colored-header"><span class="close-modal" (click)="closeModal()">&times;</span>Add card</h3>
		</div>

		<form id="payment-card-form" class="scale-down">
	    <div class="cardinfo-card-number">
	      <label class="cardinfo-label" for="card-number">Card Number</label>
	      <div class='input-wrapper' id="card-number"></div>
	      <div id="card-image"></div>
	    </div>

	    <div class="cardinfo-wrapper">
	      <div class="cardinfo-exp-date">
	        <label class="cardinfo-label" for="expiration-date">Valid Thru</label>
	        <div class='input-wrapper' id="expiration-date"></div>
	      </div>

	      <div class="cardinfo-cvv">
	        <label class="cardinfo-label" for="cvv">CVV</label>
	        <div class='input-wrapper' id="cvv"></div>
	      </div>
	    </div>
	  </form>

		<div class="payments-bottom-add-container">
			<button class="payment-footer-button">
				<span class="payment-footer-text" (click)="closeModal()">Cancel </span>
			</button>
		  <button class="payment-footer-button" id="add-card-button" type="submit" value="Continue">
		  	<span class="plus-sign">+</span> 
			<span class="payment-footer-text">Add </span>
		  </button>
		</div>
	</div>
</div>

<div id="payment-paypal-modal" class = "modal">
	<div layout-align="center center" id="paypal-form">
		<div id="paypal-header-container">
			<div class="payment-methods" id="modal-payment-methods">
				<h3 class="colored-header"><span class="close-modal" (click)="closeModal()">&times;</span>Add PayPal</h3>
			</div>
		</div>
		<div id="paypal-button"></div>
		<div class="payments-bottom-add-container">
			<button class="payment-footer-button">
				<span class="payment-footer-text" (click)="closeModal()">Cancel </span>
			</button>
		</div>
	</div>
</div>

<div id="payment-venmo-modal" class = "modal">
	<div layout-align="center center" id="venmo-form">
		<div id="paypal-header-container">
			<div class="payment-methods" id="modal-payment-methods">
				<h3 class="colored-header"><span class="close-modal" (click)="closeModal()">&times;</span>Add Venmo</h3>
			</div>
		</div>
		<div id="venmo-button"></div>
		<div class="payments-bottom-add-container">
			<button class="payment-footer-button">
				<span class="payment-footer-text" (click)="closeModal()">Cancel </span>
			</button>
		</div>
	</div>
</div>

<div id="error-modal" class = "modal">
	<div layout-align="center center" id="error-form">
		<div class="loader" id="loading-circle"></div>
		<div id="error-header-container">
			<div class="payment-methods" id="modal-payment-methods">
				<h3 class="colored-header"><span class="close-modal" (click)="closeError()">&times;</span>Payment method already exists</h3>
			</div>
		</div>
	</div>
</div>

<div id="edit-modal" class = "modal">
	<div layout-align="center center" id="edit-form">
		<div id="edit-header-container">
			<div class="payment-methods" id="modal-payment-methods">
				<h3 class="colored-header" id="edit-header"><span class="close-modal" (click)="closeEdit()">&times;</span>Payment Information</h3>
			</div>
		</div>
		<div id="method-information-text"></div>
		<div class="payments-bottom-add-container">
			<button class="payment-footer-button">
				<span class="payment-footer-text" (click)="closeEdit()">Cancel </span>
			</button>
		  <button class="payment-footer-button" id="remove-payment-button" type="submit" value="Continue">
			<span class="payment-footer-text" (click)="removeMethod()">Remove </span>
		  </button>
		</div>
	</div>
	<div id="open-edit" display="none" (click)="openEdit()"></div>
</div>