<ScrollView>
	<FlexboxLayout class="page">
		<StackLayout class="close-button-container" orientation="horizontal">
			<Label text="&times;" class="close" (tap)="close('cancel')"></Label>
		</StackLayout>


		<StackLayout class="form">
			<Label text="I am..." class="header-label-2"></Label>

		  <StackLayout class="input-field switch-container" orientation="horizontal" horizontalAlignment="center">
		  	<Label text="Driving" class="header-label-3 driving-label" #drivingLabel></Label>
		  	<Switch checked="true" (checkedChange)="onCheckedChange($event)" class="m-15 switch"></Switch>
		  	<Label text="Riding" class="header-label-3 riding-label" #ridingLabel></Label>
		  </StackLayout>
		  <StackLayout class="input-field">
		    <TextField class="input" autocorrect="false" hint="Where from?" [(ngModel)]="startAddress" required></TextField>
		    <StackLayout class="hr-light"></StackLayout>
		  </StackLayout>

		  <StackLayout class="input-field">
		    <TextField class="input" autocorrect="false" hint="Where to?" [(ngModel)]="endAddress" required></TextField>
		    <StackLayout class="hr-light"></StackLayout>
		  </StackLayout>

	<!-- 	  <DatePicker (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)" 
	(dayChange)="onDayChanged($event)" (monthChange)="onMonthChanged($event)" (yearChange)="onYearChanged($event)" verticalAlignment="center"></DatePicker> -->
			<Label text="When?" class="header-label"></Label>

		  <DatePicker (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)" verticalAlignment="center"></DatePicker>

		  <Label *ngIf="isDriving" text="How many?" class="header-label"></Label>
		  <GridLayout *ngIf="isDriving" class="m-15" rows="auto" columns="50 * 50">
			    <Label class="h3" text="1" textWrap="true" row="10" col="0"></Label>
			    <Slider minValue="1" maxValue="8" [(ngModel)]="capacity" row="0"
			     col="1"></Slider>
			    <Label class="h3" text="8" textWrap="true" row="0" col="2"></Label>
			</GridLayout>
		  <Label *ngIf="isDriving" text="{{ capacity }}" class="header-label-2"></Label>

		  <Button text="Add" class="btn btn-primary submit-btn" (tap)="addPosting()"></Button>
		</StackLayout>
	</FlexboxLayout>
</ScrollView>
