<FlexboxLayout class="page" #welcomeContainer>
	<StackLayout class="form">
		<Image class="logo" src="~/img/logo.png"></Image>
		<!-- <Label class="header" text="CollegePool"></Label> -->

		<StackLayout class="input-field">
			<TextField class="input" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="email" returnKeyType="next" (returnPress)="focusPassword()" #em></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField class="input" hint="Password" secure="true" [(ngModel)]="password" [returnKeyType]="isLoggingIn ? 'done' : 'next'" (returnPress)="focusConfirmPassword()" #pw></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout *ngIf="!isLoggingIn" class="input-field">
			<TextField class="input" hint="Confirm password" secure="true" [(ngModel)]="confirmPassword" returnKeyType="done" #cpw></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<Button [text]="isLoggingIn ? 'Log In' : 'Sign Up'" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
		<StackLayout>
			<FacebookLoginButton (tap)="fbLogin()" class="btn-fb"></FacebookLoginButton>
		</StackLayout>
		<Label *ngIf="isLoggingIn" text="Forgot your password?" class="login-label" (tap)="forgotPassword()"></Label>
	</StackLayout>

	<Label class="login-label sign-up-label" (tap)="toggleForm()">
		<FormattedString>
			<Span [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>
			<Span [text]="isLoggingIn ? 'Sign up' : ''" class="bold"></Span>
		</FormattedString>
	</Label>
</FlexboxLayout>

<ActivityIndicator #activityIndicator busy="true" width="100" height="100" class="activity-indicator">
</ActivityIndicator>