/* Add mobile styles for the component here.  */
.page {
  align-items: center;
  flex-direction: column;
  visibility: collapse;
}
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-top: 15;
  margin-bottom: 72;
  height: 120;
  font-weight: bold;
}
.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  color: #ac00e6;
}

.input-field {
  margin-bottom: 25;
}
.input {
  font-size: 18;
  placeholder-color: #A8A8A8;
}

.btn-primary {
  height: 50;
  margin: 30 5 15 5;
  background-color: #ac00e6;
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
}

.btn-fb {
  height: 100;
  margin: 0 5 15 5;
  /*border-radius: 5;*/
  font-size: 20;
  font-weight: 600;
}

.login-label {
  horizontal-align: center;
  color: #A8A8A8;
  font-size: 16;
  /* margin-bottom: 20; */
}
.sign-up-label {
  horizontal-align: center;
  color: #A8A8A8;
  font-size: 16;
  /* margin-bottom: 20; */
}
.bold {
  color: #000000; 
}
.activity-indicator {
  color: #ac00e6;
}

/* @keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.dialogOpen .form {
  opacity: 0.15;
}
.dialogOpen .redirect {
  opacity: 0.15;
}

.dialogOpen .dialog-wrapper {
  visibility: visible;
  animation-name: show;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.dialog-wrapper {
  visibility: collapse;
  opacity: 0;
  horizontal-align: center;
  vertical-align: center;
}

.dialog {
  border-width: 1px;
  border-color: black;
  background-color: white;
  width: 70%;
  margin: auto;
  padding: 20; 

}
.dialog Label {
  margin: 0 15 15 15;
  color: black;
}
.btn-close{
  height: 50;
  background-color: #696969;
  border-radius: 5;
  font-size: 18;
  color: white;
  font-weight: 400;
}
.btn-verify{
  height: 50;
  margin: 15 5 15 5;
  background-color: #ac00e6;
  color: white;
  border-radius: 5;
  font-size: 18;
  font-weight: 400;
} */