/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #ffffff;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: gray;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f9e6ff;
  border-bottom: 2px solid #ac00e6;
  cursor: pointer;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #ac00e6;
  border-bottom: 2px solid #ac00e6;
  border-color: #ac00e6;
}

.navbtns {
  height: 100%;
  margin-left: 1em;
  display: inline-block;
  float: left;
}

.imgnav {
  margin-top: 0.25em;
  display: inline-block;
  margin-right: 1em;
  float: right;
}

img:hover {
  cursor: pointer;
}