/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #ffffff;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: gray;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #ac00e6;
  border-bottom: 2px solid #ac00e6;
  cursor: pointer;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #ac00e6;
  border-bottom: 2px solid #ac00e6;
  border-color: #ac00e6;
}

.navbtns {
  height: 100%;
  margin-left: 1em;
  display: inline-block;
  float: left;
}

.imgnav {
  margin-top: 0.25em;
  display: inline-block;
  margin-right: 1em;
  float: right;
}

img:hover {
  cursor: pointer;
}

.dropdown {
  display: none;
  height: 192px;
  width: 144px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-right: 5px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  z-index: 1;
  position: absolute;
  right: 0;
}

.dropdown-option {
  width: inherit;
  height: 48px;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  font-weight: 400;
}

.group-two {
  border-top: 2px solid #dbdbdb;
}

.dropdown-option:hover {
  background-color: #f1f1f1;
}

.caret {
    border-color: transparent transparent #ffffff transparent;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    height: 0px;
    width: 0px;
    float: right;
    margin-right: 22px;
    z-index: 1000;
    display: none;
    color: #ffffff;
}