/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/
.refresh {
	color: #ac00e6;
}

.actionbar {
	font-size: 22;
	font-weight: 700;
	text-align: left;
	color: black;
}

.add-btn-container {
	/*position: absolute;*/
	/*bottom: 0;*/
	/*right: 0;*/
	vertical-align: bottom;
	z-index: 1;
}

.fab-button {
  height: 56;
  width: 56;
  margin: 15;
  /*margin-bottom: 64;*/
  background-color: #ac00e6;
  /*float: right;*/
  horizontal-align: right;
  vertical-align: bottom;
}

Label {
	text-align: left;
}

.info-label {
	margin-top: 4;
	margin-left: 18;
	margin-bottom: 16;
	color: black;
	font-weight: 400;
	font-size: 14;
}
.cap-label {
	margin-top: 4;
	margin-left: 18;
	margin-bottom: 16;
	color: black;
	font-weight: 400;
	font-size: 14;
	margin-right: 18;
}

.name-label {
	margin-top: 16;
	margin-left: 18;
	color: black;
	font-weight: 700;
	font-size: 17;
}

.price-label {
	margin-top: 16;
	margin-right: 18;
	color: green;
	font-weight: 500;
	font-size: 16;
	margin-bottom: 5;
}

.post {
	/*border-bottom-width: 1;*/
	border-color: #f1f1f1;
}

.post:highlighted {
	/*background-color: #f1f1f1;*/
}

.posting-map {
	margin-bottom: 16;
	border-radius: 10;
	height: 220;
	width: 340;
}

.profile-picture {
	height: 50;
	width: 50;
	border-radius: 25;
	vertical-align: top;
	margin-left: 16;
	margin-top: 20;
}

.status-icon {
	height: 15;
	width: 15;
	/* border-radius: 25; */
	vertical-align: top;
	margin-top: 21;
	margin-left: 7;
	background-color: white;
}

.activity-indicator {
	color: #ac00e6;
}