/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/

.actionbar {
	font-size: 22;
	font-weight: 700;
	text-align: left;
	color: black;
}

.add-btn-container {
	vertical-align: bottom;
	overflow: none;
	z-index: 1;
}

.fab-button {
  height: 56;
  width: 56;
  margin: 15;
  margin-bottom: 64;
  background-color: #ac00e6;
  /*float: right;*/
  horizontal-align: right;
  vertical-align: bottom;
}