<div id="myModal" class = "modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modaltab">
	  <button class="modaltablinks" (click)="changeModalTab($event, 'Offer')" id="defaultModalTab">Offer Ride</button>
	  <button class="modaltablinks" (click)="changeModalTab($event, 'Request')">Request Ride</button>
	</div>
	<div id="Offer" class="modaltabcontent">
	    <form class="form">
			Departure date:<br>
			<input type="datetime-local" name="departure" id="departureOffer" required><br><br>
			Pick up address:<br>
			<input type="text" class="address_text" name="pickup" id="pickupOffer" required><br><br>
			Destination address:<br>
			<input type="text" class="address_text" name="destination" id="destinationOffer" required><br><br>
			Capacity:
			<input type="text" name="capacity" id="capacityOffer" required>
			Price:
			<input type="text" name="price" id="priceOffer" required><br><br>
			Additional Comments:<br><br>
			<textarea id="commentsOffer"></textarea>
		</form>
		<button class="submitbutton" (click)="submit('offer')">Post</button>
	</div>
	<div id="Request" class="modaltabcontent">
	    <form class="form">
	    	Departure date:<br>
			<input type="datetime-local" name="departure" id="departureRequest" required><br><br>
			Pick up address:<br>
			<input type="text" class="address_text" name="pickup" id="pickupRequest" required><br><br>
			Destination address:<br>
			<input type="text" class="address_text" name="destination" id="destinationRequest" required><br><br>
			Additional Comments:<br><br>
			<textarea id="commentsRequest"></textarea>
		</form>
		<button class="submitbutton" (click)="submit('request')">Post</button>
	</div>
  </div>

</div>
<div class="right-background">
	<div class="info">
		<img src="src/img/sample_profile.jpg" alt="Profile Photo" id="profile_pic">
		<div id="name_info">
			<h3 id="username">Test User</h3>
			<h3 id="user_university">University of Virginia</h3>
		</div>
		<div class="userStats">
			<span id="user_rides_given" class="userData">Rides Given: </span>
			<span id="num_rides_given"></span>
			<span id="user_rides_received" class="userData">Rides Received: </span>
			<span id="num_rides_received"></span>
		</div>
	</div>

<!-- Tab links -->
	<div class="tab">
	  <button class="tablinks" (click)="changeTab($event, 'Feed')" id="defaultTab">Feed</button>
	  <button class="tablinks" id="Post">Post</button>
	  <button class="tablinks" (click)="toHistory()">History</button>
	  <button class="tablinks" (click)="toSettings()">Settings</button>
	</div>
</div>
<!-- Tab content -->
<div id="Feed" class="tabcontent">
  <h3 id="news_header">News Feed</h3>
 	<div id="bigfeed">
		<div id="N1" class="feed1" style="display: all; margin-top: 50px; margin-bottom:50px">
			<div id="text"> 
				<img src="src/img/sample_profile.jpg" class="pfp">
				<h1 class="header"> Adam Yee </h1>
				<p class="details"> Departure day for $$$$ </p>
				<img src="src/img/virginia_map.jpg" class="destination">
				<div id="buttonhouse" class="buttonhouse"><button class="buttons">Connect</button> </div>
			</div>
		</div>
	</div>
</div>
