/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/

#Header {
    color:black;
    font-size: 24;
    font-family: "Segoe UI",Arial,sans-serif;
}

.Update {
    display: block;
    color: #ac00e6;
    border-width: 1;
    border-color: #ac00e6;
    border-radius: 5;
    text-align: center;
    float: center;
    margin: auto; 
    font-weight: 700;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-bottom: 15;
    width: 200;
    height: 40;
}
.Update:highlighted {
    background-color: #f9e6ff;
}
.Payments {
    /* background-color: white;
    border-radius: 5;
    color: #AC00E6;
    font-family: Times;
    font-size: 24;
    vertical-align: middle;
    width: 80%; */
    display: block;
    color: #ac00e6;
    /*padding: 6px 24px;*/
    border-width: 1;
    border-color: #ac00e6;
    border-radius: 5;
    text-align: center;
    float: center;
    margin: auto; 
    font-weight: 700;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-bottom: 15;
    width: 200;
    height: 40;
}
.Payments:highlighted {
    background-color: #f9e6ff;
}
.profile-picture {
	height: 120;
	width: 120;
	margin-top: 20;
	margin-bottom: 8;
	/*background-repeat: no-repeat;*/
}

.img-rounded {
	border-radius: 100%;
}

.header-label {
	margin-bottom: 20;
	font-size: 20;
	color: #4285f4;
}

.bold {
	font-weight: 500;
}

.activity-indicator {
  color: #ac00e6;
}
