/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/

#Header {
    color:black;
    font-size: 24;
    font-family: "Segoe UI",Arial,sans-serif;
}

#listView {
	margin-bottom: 20;
}

.update {
    display: block;
    color: #ac00e6;
    border-width: 1;
    border-color: #ac00e6;
    border-radius: 5;
    text-align: center;
    float: center;
    margin: auto; 
    font-weight: 700;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-bottom: 15;
    width: 200;
    height: 40;
}
.update:highlighted {
    background-color: #f9e6ff;
}
.payments {
	color: black;
	margin-top: 12;
	margin-bottom: 12;
	margin-left: 18;
    text-align: left;
    font-size: 15;
}
.logout {
	color: #ac00e6;
	margin-top: 12;
	margin-bottom: 12;
	margin-left: 18;
	font-weight: 500;
    text-align: left;
    font-size: 15;
}

.btn-list-view {
	margin-top: 36;
	height: 100;
}

.item-list-view {
	height: 275;
}

.profile-picture {
	height: 100;
	width: 100;
	margin-top: 10;
	margin-bottom: 8;
	/*background-repeat: no-repeat;*/
}

.img-rounded {
	border-radius: 50%;
}

.header-label {
	margin-bottom: 5;
	font-size: 15;
	color: #4285f4;
}

.bold {
	font-weight: 500;
}

.activity-indicator {
  color: #ac00e6;
  margin: 25%;
}

.value-label {
	margin-left: 18;
	margin-bottom: 10;
    color: black;
    font-weight: 400;
    font-size: 18;
    text-align: left;
}
.title-label {
	margin-top: 16;
	margin-left: 18;
	color: #696969;
    text-align: left;
}

.stack-layout{
    height:100%
}
.activity-indicator{
    height: 50%;
}
ListView {
    separator-color: transparent;
}